var getSpecStr = function (specArray) {
  console.log(specArray);
  var str = "";
  //var specArray = [{ id: 12, type: 1, value: "标准版", name: "版本", tip: "标准版" }];
  for (var i = 0; i < specArray.length; i++) {
    str += specArray[i].name + ":" + specArray[i].value + "; ";
  }
  return str;
}

module.exports = {
  getSpecStr: getSpecStr
};